* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Microsoft YaHei';
}

.shell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Start universe */
.universe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #00f;
  border-radius: 100px;
  transform: translate( -50%, -50% );
}

.craft {
  position: absolute;
  left: calc(~"50% - 50px");
  width: 100px;
  text-align: right;
  border: 1px solid #eee;
  border-radius: 15px;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

.track (@num) {
  top: 30vh - 7vh * (@num - 1);
  transform-origin: 50% 20vh + 7vh * (@num - 1);
}

.track1 {
  .track(1);
}

.track2 {
  .track(2);
}

.track3 {
  .track(3);
}

.track4 {
  .track(4);
}

.track5 {
  .track(5);
}

.craft-head {
  display: inline-block;
  width: 20px;
  height: 30px;
  vertical-align: middle;
  background-color: #00f;
  border-radius: 0 15px 15px 0;
}

.craft-body {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
/* End universe */

/* Start panel */
.panel {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: transparent;
}

.option {
  display: block;
  line-height: 24px;
  vertical-align: middle;
}

.control-button {
  margin: 1px;
  padding: 2px 4px;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 2px;

  &:hover {
    background-color: #286090;
    border-color: #204d74;
  }
}

/* End panel */

/* Start monitor */
.monitor {
  position: absolute;
  top: 10px;
  right: 10px;
}

.records {
  color: #fff;
  font-size: 10px;
  text-align: center;
}
/* End monitor */

/* Start console */
.console {
  position: absolute;
  bottom: 10px;
  padding: 0 10px;
  height: 160px;
  overflow-y: scroll;
}

.normal {
  color: #fff;
}

.warning {
  color: #f00;
}
/* End console */